<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.wlmxenl.launchmodel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExercises">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".manifest.A1Activity"
            android:label="A1" />

        <activity
            android:name=".manifest.A2StandardActivity"
            android:label="A2_standard"
            android:launchMode="standard" />

        <activity
            android:name=".manifest.A2SingleTopActivity"
            android:label="A2_singleTop"
            android:launchMode="singleTop" />

        <activity
            android:name=".manifest.A2SingleTaskActivity"
            android:label="A2_singleTask"
            android:launchMode="singleTask" />

        <activity
            android:name=".manifest.A2SingleInstanceActivity"
            android:label="A2_singleInstance"
            android:launchMode="singleInstance" />

        <activity
            android:name=".manifest.A3Activity"
            android:label="A3" />

        <activity
            android:name=".manifest.A4Activity"
            android:label="A4" />

    </application>

</manifest>